---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  company: string;
  description: string;
  date: string;
  src: ImageMetadata;
}

const { title, company, description, date, src } = Astro.props;
---

<li class="ms-8">
  <span
    class="border-border bg-surface ring-background -inset-s-4 absolute flex size-8 items-center justify-center rounded-full border ring-4"
  >
    <Image
      class="rounded-full"
      src={src}
      alt={`Logo de ${company}`}
      loading="lazy"
    />
  </span>
  <h3
    class="text-primary-strong mb-1 flex flex-wrap items-center gap-y-2 text-xl font-extrabold"
  >
    {title}
    <slot />
  </h3>
  <h4 class="text-foreground text-lg font-semibold">
    {company}
  </h4>
  <time class="text-subtle mb-3 block text-sm font-medium leading-none">
    {date}
  </time>
  <p class="text-muted max-w-3xl text-pretty text-base leading-7">
    {description}
  </p>
</li>
