---
import { Image } from "astro:assets";

interface Props {
  title: string;
  company: string;
  description: string;
  date: string;
  src: ImageMetadata;
}

const { title, company, description, date, src } = Astro.props;
---

<li class="ms-8">
  <span
    class="absolute -start-3 flex size-8 items-center justify-center rounded-full bg-blue-100 ring-4 ring-white dark:bg-blue-900 dark:ring-gray-900"
  >
    <Image
      class="rounded-full"
      src={src}
      alt={`Logo de ${company}`}
      loading="eager"
    />
  </span>
  <h3
    class="mb-1 flex items-center text-xl font-bold text-violet-700 dark:text-amber-500"
  >
    {title}
    <slot />
  </h3>
  <h4 class="text-lg font-semibold text-gray-950 dark:text-white">
    {company}
  </h4>
  <time
    class="mb-3 block text-sm font-normal leading-none text-gray-700 dark:text-gray-500"
  >
    {date}
  </time>
  <p class="text-base font-normal text-gray-800 dark:text-gray-400">
    {description}
  </p>
</li>
